[Unit]
Description= Facial Expression LeftEyeBrow
After=network-online.target
Wants=network-online.target

[Service]
# User= pr2-tanemoto2
# Group= pr2-tanemoto2
Environment=PYTHONUNBUFFERED=1
WorkingDirectory= /home/pr2-tanemoto2
ExecStart=/bin/bash -c "source /opt/ros/melodic/setup.bash && rossetmaster pr1040 && rossetip && python open_browser.py --mode lbrow"

[Install]
WantedBy=default.target
