[Unit]
Description= Facial Expression RightEyeBrow
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory= ${HOME}
ExecStart=/bin/bash -c "rossetmaster pr1040 && rossetip && python open_browser.py --mode rbrow"

[Install]
WantedBy=multi-user.target
