doctype html
html(lang='en')
  head
    title test
    script(src="https://cdn.jsdelivr.net/npm/gl-matrix@3/gl-matrix.js")
  body
    <canvas id="webgl"></canvas>
    script(type="text/javascript", src="/javascript/rbrow.js")
