doctype html
html(lang='en')
  head
    title test
    // link(rel='stylesheet', href='./webgl.css', type='text/css')
  body
    <canvas id="webgl"></canvas>
    script(type="text/javascript", src="/javascript/rbrow.js")
